.mainQuestionContainer {
  width: 50%;
  margin: 0 auto;
}
.titleContainer {
  display: flex;
  flex-direction: row;
}
.questionNumber {
  font-size: 18;
  font-weight: bold;
  margin-top: 50px;
}
.questionContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin-bottom: 50px;
  margin-top: 50px;
}
.buttonContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  margin-bottom: 50px;
}
